body {
    padding: 0;
    margin: 0;
  }
  
body,
html {
    height: 100%;
}


#map {
    height: 500px;
    width:100%;
    border-radius: 5px;
    position: absolute;
    z-index: 0;
    margin-right: 50px;
    box-shadow: 0px 0px 15px rgba(0,0,0,1);
}

.header-container {
    height:500px;
    
}

.container {
    padding-top: 100px;
    height:100%
}

.map-container {
    background-image:url("../images/grid.jpg");
    height:100%;
    width:100%;
    margin:0
}

.header {
    background-image: url("../../Assets/Images/background-image.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    height:100%;
    width:100%;
    opacity: .5;
    /* position: absolute;
    z-index:2 */
}

.header-title{
    position:absolute;
    margin-left:auto;
    margin-right:auto;
    left:0;
    right:0; 
    text-align:center;
    z-index: 1;
}

.panel-group {
    margin-left:50px;
    border-radius: 5px
}

@media screen and (max-width:768px) {
    .panel-group {
        margin-left:0px;
        margin-top: 525px;
    }

    body {
        width:fit-content;
    }

    #table-area {
        padding-top: 250px
    }
}